@import '../../../../styles/colors.module.scss';

.img {
    width: 550px; // ajusta a largura da imagem
    height: auto; // mantém a proporção da imagem
    margin: 20px; // adiciona um espaço entre a imagem e o texto
}


.subTitle {
    font-size: 18px;
    font-weight: bold;
    color: $lightRed;
}

.title {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}

.description {
    font-size: 20px;
    color: $lightGray;
    margin: 20px 0px 40px 0px;
}

.btnCta {
    font-weight: bold;
    color: white;

    display: flex;
    align-items: center;
    gap: 25px;

    padding: 14px 30px;
    border: 2px solid $lightRed;
    /* borda vermelha */
    background-color: transparent;

    /* background transparente */
    .btnImg {
        width: 11px;
    }

    &:hover {
        border-color: $darkRed;
        color: $lightGray;
        background-color: transparent;
        /* mantém o background transparente ao hover */
    }
}

.arrowImg {
    width: 30px; // ajuste a largura da imagem de seta
    height: 30px; // ajuste a altura da imagem de seta
}

@media (max-width: 1199px) and (min-width: 991px) {
    .title {
        font-size: 20px;
        line-height: 30px;
    }

    .description {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .imgSection {
        display: flex;
        margin: 50px auto;
    }
}

@media (max-width: 991px) {
    .img {
        width: 400px;
    }

    .imgSection {
        display: flex;
        margin: 50px auto;
    }
}

@media (max-width: 590px) {
    .imgSection {
        width: 95%;
    }

    .title {
        font-size: 26px;
        font-weight: bold;
        line-height: 34px;
    }

    .description {
        font-size: 14px;
        color: $lightGray;
        margin: 20px 0px 40px 0px;
    }

    .btnCta {
        padding: 10px 24px;
    }
}

@media (max-width: 367px) {
    .titleAccess {
        font-size: 14px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 12px;
    }
}